*
!.clang-format
!.gitignore
!LICENSE

!*.cc
!*.h
!*.cpp
!*.py

!*.md
!*.png
!*.txt

!bin
!config
!src
!src/**
!source_libs
!source_libs/**
!raw_app
!microservice_app
!rpc_modules

.DS_Store
**/.DS_Store